<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title id="yonghu">
        <%=yonghuming%>
    </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
    /*Comment List styles*/
    body {
        background: url("/avatars/backgroud.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .comment-list .row {
        margin-bottom: 0px;
    }
    
    .comment-list .panel .panel-heading {
        padding: 4px 15px;
        position: absolute;
        border: none;
        /*Panel-heading border radius*/
        border-top-right-radius: 0px;
        top: 1px;
    }
    
    .comment-list .panel .panel-heading.right {
        border-right-width: 0px;
        /*Panel-heading border radius*/
        border-top-left-radius: 0px;
        right: 16px;
    }
    
    .comment-list .panel .panel-heading .panel-body {
        padding-top: 6px;
    }
    
    .comment-list figcaption {
        /*For wrapping text in thumbnail*/
        word-wrap: break-word;
    }
    /* Portrait tablets and medium desktops */
    
    @media (min-width: 768px) {
        .comment-list .arrow:after,
        .comment-list .arrow:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
        }
        .comment-list .panel.arrow.left:after,
        .comment-list .panel.arrow.left:before {
            border-left: 0;
        }
        /*****Left Arrow*****/
        /*Outline effect style*/
        .comment-list .panel.arrow.left:before {
            left: 0px;
            top: 30px;
            /*Use boarder color of panel*/
            border-right-color: inherit;
            border-width: 16px;
        }
        /*Background color effect*/
        .comment-list .panel.arrow.left:after {
            left: 1px;
            top: 31px;
            /*Change for different outline color*/
            border-right-color: #FFFFFF;
            border-width: 15px;
        }
        /**word**/
        .comment-list .comment-post,
        .comment-date ,
        .comment-user {
            font-size: 15px;
            color: white;
            margin-top: 6px;
        }
        /** comment background**/
        #admin {
            background: red;
        }
        #putong{
            background: #4ADFCC;
        }
        .caozuo {
            position: fixed;
            bottom: 20px;
            left: 0;
        }
    </style>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore-noflect.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="comment-list">
                    <div class="row clearfix" id="zhanban">
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="caozuo">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="neirong" placeholder="说点什么.....">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="anniu">发言!</button>
            </span>
            </div>
        </div>
    </div>
    <!--列表模板-->
    <script type="text/template" id="moban">
        <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                    <img class="img-responsive" src="avatars/<%=avatar%>" />
                    <figcaption class="text-center"></figcaption>
                </figure>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                    <div class="panel-body" id="putong">
                        <header class="text-left">
                            <div class="comment-user"><i class="fa fa-user"></i>{{=ren}} </div>
                            <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> No.{{=number}}</time>
                        </header>
                        <div class="comment-post" >
                            <p>
                                {{=neirong}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </script>

    <script type="text/template" id="gmoban">
        <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                    <img class="img-responsive" src="avatars/<%=avatar%>" />
                    <figcaption class="text-center"></figcaption>
                </figure>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                    <div class="panel-body" id=admin>
                        <header class="text-left">
                            <div class="comment-user"><i class="fa fa-user"></i> Administrator</div>
                            <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> No.{{=number}}</time>
                        </header>
                        <div class="comment-post">
                            <p>
                                {{=neirong}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    //发言计时
    var c = 0;
    var number = 0;
    var dueDate;
    var realDate;
    var $zhanban = $("#zhanban");
    var compiled = _.template($("#moban").html());
    var gcompiled = _.template($("#gmoban").html());
    var socket = io();

    function timedCount() {
        console.log(c);
        if (c <= 0) {
            c = 0;
            return;
        } else {
            c = c - 1;
        }
        if (c >= 0) {
            t = setTimeout("timedCount()", 1000);
        }

    }


    $("#anniu").click(function(e) {
        realDate = new Date();
        if (dueDate >= realDate) {
            console.log(parseInt((dueDate-realDate)/1000));
            alert("请等待" + parseInt((dueDate-realDate)/1000) + "秒后发言~~");
        } else {
            //把文本框的内容上传：
            socket.emit("liaotian", {
                "neirong": $("#neirong").val(),
                "ren": $("#yonghu").html(),
                "number": number + 1
            });
            $(this).val("");
            dueDate = new Date();
            dueDate.setSeconds(dueDate.getSeconds() + 10);

        }


    });

    socket.on("liaotian", function(msg) {
        //$(".liebiao").prepend("<li><b>" + msg.ren + "：</b>"+ msg.neirong + "</li>");
        if (number % 3 == 0) { //展板已满，清空后再上传信息
            $("#zhanban").html("");
        }
        console.log(parseInt(msg.ren));
        if (parseInt(msg.ren) == 19940107) {
            console.log("show guanliyuan");
            var htmlstring = gcompiled(msg);
            $("#zhanban").prepend($(htmlstring));
        } else {
            console.log("show putong");
            var htmlstring = compiled(msg);
            $("#zhanban").prepend($(htmlstring));
        }

        number = number + 1;
    });


    window.onbeforeunload = function(event) {
        $.ajax({
            url: "/logout",
            type: "GET",
            data: "denglu=0",
            cache: true,
            async: false,
            success: function(response) {

            }
        });
        event.returnValue = "Write something clever here..";

    };
    </script>
</body>

</html>
