<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		div{
			width: 700px;
			height: 30px;
			padding: 40px;
			border: 1px solid #000;
			margin: 0 auto;
		}
		#yonghuming{
			font-size: 30px;
		}
	</style>
</head>
<body>
<input type ="button" onclick="javascript:location.href='/login'" value="进入登录页面"></input>
</body>
</html>